@import '../../../../Styles/Variables.scss';

.thisDay {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: var(#{--components-background-default});
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
}

.topBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    svg {
        width: 119px;
        height: 119px;
    }
}
.thisDayTemp{
    font-size: 96px;
    font-weight: 500;
    color: var(#{--text-color-default});
}
.thisDayData{
    font-size: 40px;
    color: var(#{--text-color-default});
}
.bottomBlock{
    .thisDayTime,
    .thisDayCity{
        color: $baceColor;
        font-size: 25px;
    }
}